<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type=text/css href="static/Home.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Object Detector</title>
  </head>
  <body>
    <div class="main">
      <h1 class="heading">Object Detection</h1>
      <p class="about">
        <span>Object recognition in real life photos</span>
        Giving customers the possibility to search for products based on their
        real life photos.People discover products and insirations in everyday
        life.Help them find items they dream of...!
      </p>
      <button type="button" class="demo-btn">Try Demo</button>
    </div>
    <div class="browse">
      <input type="file" class="browse-file" />
      <div class="browse-file-img">
        <img src="static/images/od3.png" alt="seac" />
      </div>
    </div>
    <div class="upload-pic">
      <h1>Upload Image</h1>
    </div>
  </body>
</html>
